
---
layout: layout
network: true
---

<%
  const data = site.data.lemmy.data;
  const uxList = [__('awesomeLemmy'), __('lemmymap'), __('appList'), __('assistant')];
%>

<%- partial('_partial/heroheader') %>

<main class="contents">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">
    <%- partial('_partial/generalinfo') %>
    <section class="column">
      <div class="section u-block inline-items">
        <h4><%- __('users') %></h4>
        <ul class="section-list">
          <% for (item in data.forUsers) { %>
            <% let n = data.forUsers[item].id %>
            <li>
              <a href="<%= data.forUsers[item].url %>"><%= uxList[n] %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
