
$white: #ffffff;
$golden: #fecb52;
$coral: #e93a32;
$pink: #fe55ba;
$lightPink: #ffc0cb;

$black: #0e0a0c;
$asphalt: #171014;
$grey: #a9a9a9;

$diaspora: #000000;
$mastodon: #5f57ef;
$hubzilla: #43488a;
$gnusocial: #a22430;
$friendica: #ffb900;
$socialhome: #2fcbbe;
$pleroma: #fba457;
$peertube: #f1680d;
$misskey: #9fd608;
$pixelfed: #6736dd;
$funkwhale: #009fe3;
$lemmy: #14854f;

